<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edits.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Melody Market - Editar Producto</title>
</head>
<body>
  <div class="form-container">
    <h2 class="form-title">Editar Producto</h2>
    <form id="form" action="{{ url_for('updateProduct') }}" method="POST" autocomplete="off">
      <input type="hidden" name="tipo" value="{{ item.tipo }}">
      <input type="hidden" name="nombre" value="{{ item.nombre }}">
      
      <div>
        <label for="stock">Stock:</label>
        <input 
          type="number"
          id="stock"
          name="stock"
          value="{{ item.stock }}"
          required>
      </div>
      
      <div>
        <label for="precio">Precio:</label>
        <input 
          type="number"
          id="precio"
          name="precio"
          value="{{ item.precio }}"
          required>
      </div>
      
      <button type="submit" class="btn-edit">
        <i class="fas fa-plus"></i> Editar
      </button>
    </form>
  </div>
</body>
</html>

