<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melody Market - Inicio de Sesión</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/sesion.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="music-background">
      <div class="music-note note-1"><i class="fas fa-music"></i></div>
      <div class="music-note note-2"><i class="fas fa-music"></i></div>
      <div class="music-note note-3"><i class="fas fa-music"></i></div>
    </div>

    <div class="login-container">
      <div class="login-header">
        <div class="logo">
          <i class="fas fa-guitar"></i>
          <h1>Inicio de Sesión</h1>
        </div>
        <p>Tu tienda de instrumentos y música digital</p>
      </div>

      <form id="loginForm" class="login-form" action="/login" method="POST">
        <div class="form-group">
          <label for="username"
            ><i class="fas fa-user"></i> Usuario o Email</label
          >
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <br>
          {% for message in messages %}
          <div class="alertPass">
            <strong>{{ message }}</strong>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          <input
            type="text"
            id="username"
            name="username"
            placeholder="ejemplo@melodymarket.com"
            required
          />
        </div>

        <div class="form-group">
          <label for="password"><i class="fas fa-lock"></i> Contraseña</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="••••••••"
            required
          />
          <button type="button" class="show-password" id="showPassword">
            <i class="far fa-eye"></i>
          </button>
        </div>

        <div class="form-options">
          <label>
            <input type="checkbox" name="remember" /> Recordar sesión
          </label>
          <a href="#" class="forgot-link">¿Olvidaste tu contraseña?</a>
        </div>

        <button type="submit" class="login-button">
          <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
        </button>


        <div class="register-link">
          ¿No tienes cuenta? <a href="#">Regístrate ahora</a>
        </div>
      </form>
    </div>

    <script src="{{ url_for('static', filename='css/sesion.css') }}"></script>
  </body>
</html>
